@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 1530px;
  width: 375px;
  background: url('./images/bg-pattern-top-mobile.svg'), url('./images/bg-pattern-bottom-mobile.svg'), rgba(255, 255, 255, 1);
  background-repeat: no-repeat;
  background-position: top left, bottom left;
}

.content__stars-words {
  height: 219px;
  width: 327px;
}

.content__stars-words h1 {
  width: 327px;
  font-family: 'League Spartan', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.4px;
  text-align: center;
  color: rgba(81, 32, 81, 1);
  padding: 4.2rem 1.5rem 1.06rem 1.5rem;
}

.content__stars-words p {
  width: 327px;
  font-family: 'League Spartan', sans-serif;
  font-size: 19px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.63px;
  text-align: center;
  color: rgba(146, 123, 145, 1);
  padding: 0 0 3.06rem 1rem;
}

.stars {
  padding: 5rem 1.5rem;
}

.stars-units {
  width: 327px;
  border-radius: 8px;
  background: rgba(247, 242, 247, 1);
  position: relative;
  margin-top: 1rem;
}

.stars-item {
  background: url('./images/icon-star.svg');
  background-repeat: repeat;
  height: 15.5px;
  width: 85px;
  position: absolute;
  left: 7rem;
  top: 1rem;
}

.stars-units .para-1 {
  font-family: 'League Spartan', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0;
  text-align: center;
  padding: 3rem 1rem 1rem 1rem;
}

.stars-units .para-2 {
  font-family: 'League Spartan', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0;
  text-align: center;
  padding: 3rem 0.8rem 1rem 0.8rem;
}

.stars-units .para-3 {
  font-family: 'League Spartan', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0;
  text-align: center;
  padding: 3rem 1rem 1rem 1rem;
}

.personnal__content-parts {
  height: 248px;
  width: 327px;
  border-radius: 8px;
  background: rgba(81, 32, 81, 1);
  margin: 1rem 1.5rem;
  position: relative;
}

.image_name {
  height: 40px;
  width: 162px;
  padding: 2.5rem 8rem 1.4rem 2rem;
}

.image-1 {
  background: url('./images/image-colton.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
